@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 1 999;
  src: local('Source Code Pro Variable Font'), local('SourceCodePro-VariableFont_wght'),
    url('./fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 1 999;
  src: local('Source Code Pro Italic Variable Font'), local('SourceCodePro-Italic-VariableFont_wght'),
    url('./fonts/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype');
}

:root {
  --wcm-z-index: 100000!important;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll!important;
}

code {
  font-family: 'Source Code Pro', monospace;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: unset;
}

button,
input {
  font-family: inherit;
}

/* Menus */
ul.notification-menu-list,
ul.connect-node-menu-list,
ul.safe-menu-list {
  padding: 0;
}

ul.connect-node-menu-list {
  width: 200px;
}

ul.safe-menu-list {
  width: 240px;
}

ul.safe-menu-list > li {
  display: flex;
  justify-content: center;
}

body.menu-opened .InfoBar {
  /* width: 250px;
  padding-right: 17px; */
}


@media screen and (min-width: 740px) {
  body.menu-opened .drawerRight {
 /*   margin-right: 250px; */
  }
}

/*
body::-webkit-scrollbar {
  width: 17px;
}
body::-webkit-scrollbar-track {
  background: #ffffa0;

}
body::-webkit-scrollbar-thumb {
  background: #3c64a5;
  border-radius: 10px;
  border: 3px solid #ffffa0;
}
body::-webkit-scrollbar-thumb:hover {
  background: #000050;
}
*/

/* Safe-selector list*/

li.selected-safe {
  background-color: rgba(0, 0, 0, 0.24);
  background-color: #edf2f7;
}

 /* Tooltips */
.STooltip.MuiPopper-root.MuiTooltip-popper[data-popper-placement*="bottom"] > .MuiTooltip-tooltip.MuiTooltip-tooltipPlacementBottom{
  margin-top: 4px;
}

.STooltip.notWide .MuiTooltip-tooltip {
  width: 160px;
}


.inline{
  display: inline;
}