body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Source Code Pro', monospace;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: unset;
}
