---
name: Build Docker

on:
  workflow_dispatch:
    inputs:
      branch:
        type: string
        required: true
        default: main
      tag:
        type: string
        required: true
        default: latest

concurrency:
  group: hopr-admin
  cancel-in-progress: true

jobs:

  build:
    name: docker
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: Checkout hoprnet repository
        uses: actions/checkout@v3
        with:
          ref: "${{ github.event.inputs.branch }}"

      - name: Set up Google Cloud Credentials
        id: auth
        uses: google-github-actions/auth@v1
        with:
          token_format: "access_token"
          credentials_json: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY }}

      - name: Login Google Container Registry
        uses: docker/login-action@v2
        with:
          registry: europe-west3-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Build and push docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          file: Dockerfile
          tags: europe-west3-docker.pkg.dev/${{ secrets.GOOGLE_HOPRASSOCIATION_PROJECT }}/docker-images/hopr-admin:${{ github.event.inputs.tag }}
  